# 导出时间: 2025-03-01 02:45:46
# 虚拟环境: D:\Cursor\Virtual environment management\venv
# Python版本: Python 3.8.6

altgraph==0.17.4
bottle==0.13.2
bottle-websocket==0.2.9
certifi==2025.1.31
cffi==1.17.1
charset-normalizer==3.4.1
Eel==0.18.1
future==1.0.0
gevent==24.2.1
gevent-websocket==0.10.1
greenlet==3.1.1
idna==3.10
importlib_metadata==8.5.0
ordered-set==4.1.0
packaging==24.2
pefile==2023.2.7
pycparser==2.22
pyparsing==3.1.4
PyQt5==5.15.11
PyQt5-Qt5==5.15.2
PyQt5_sip==12.15.0
pywin32-ctypes==0.2.3
requests==2.32.3
typing_extensions==4.12.2
urllib3==2.2.3
zipp==3.20.2
zope.event==5.0
zope.interface==7.2
zstandard==0.23.0
